<div class="container-fluid">
  <div class="row no-gutter">

    <div class="col-md-6 d-none d-md-flex bg-image">
    </div>

    <div class="col-md-6 bg-white">
      <div class="login d-flex align-items-center py-5">

        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <p class="text-muted mb-4">Recuperación de contraseña</p>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                  <label class="form-check-label mb-3">Contraseña actual</label>
                  <input id="inputEmail"  [class.is-invalid]="loginForm.get('usuario').touched && loginForm.get('usuario').invalid"
                         type="text" placeholder="Ingrese Contraseña" autofocus="" class="form-control" formControlName="usuario">
                </div>
                <div class="form-group mb-3">
                  <label class="form-check-label mb-3">Repita la contraseña</label>
                  <input id="inputPassword" [class.is-invalid]="loginForm.get('contrasenia').touched && loginForm.get('contrasenia').invalid"
                         type="password" placeholder="Ingrese Contraseña" required="" class="form-control" formControlName="contrasenia">
                </div>
                <div class="form-group mb-3">
                  <button type="submit" class="btn btn-primary btn-block mb-2 form-control">Ingresar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
