.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('src/assets/recovery-login.png');
  background-color: #00AEEF;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
