
<nav class="navbar navbar-dark bg-unicef" *ngIf="isLoggedIn">
  <div class="container-fluid">
    <a class="navbar-brand">Sistema de Gestión de Fichas</a>

    <div class="dropdown ms-3">

      <div class="btn btn-bd-unicef dropdown-toggle" id="bd-versions" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
        <a class="navbar-brand" href="#">
          <img src="assets/usuario.png" class="img-perfil" width="55" height="55" alt="logo">
          <span class="d-none d-lg-inline">Carmen Pizarro Negrón</span>
        </a>
      </div>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-versions">
        <li><a class="dropdown-item" (click)="logout()">Cerrar Sesion</a></li>
      </ul>
    </div>
  </div>
</nav>



