<p>register-records works!</p>


<div class="container">
  <div class="row" style="padding-bottom: 15px;">
    <div class="col-6">
      <div class="form-label">
        <label class="form-label">Tiempo de llamada</label>
      </div>
      <div class="form-label">
        <select style="width: 100px; padding: 5px 10px; margin: 0px 0px;">
          <option value="" disabled selected>Inicio</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
        </select>
        <select style="width: 120px; padding: 5px 10px;">
          <option value="" disabled selected>Termino</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <select style="width: 120px; padding: 5px 10px;">
          <option value="" disabled selected>T. Total</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
        </select>
      </div>

    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
      <div class="form-label">
        <label class="form-label">Turno</label>
      </div>
      <div class="form-label">
        <select style="width: 120px; padding: 5px 10px;">
          <option value="" disabled selected>Seleccionar</option>
          <option value="0">1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-bottom: 20px;">
    <div class="col-8">
      <div class="row card-header" style="margin-bottom: 25px;">
        <div class="col">
          <div class="form-label">
            Usuario
          </div>
        </div>
        <div class="col"></div>
        <div class="col">
          <div class="form-label">
            <mat-icon color="primary">call</mat-icon>
            N°Ficha 766-2021
          </div>
        </div>
      </div>
      <div></div>
      <div class="row" *ngIf="ShowOptionUno">
        <div class="col">
          <div class="d-flex justify-content-between mb-6">
            <label for="exampleFormControlInput1" class="form-label">Ingresa Número de celular</label>
            <div>
              <mat-icon color="primary">content_copy</mat-icon>
              <mat-icon color="primary">delete</mat-icon>
            </div>
          </div>
          <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="col text-center">
          <div class="form-label">
            <label class="form-label">
              Llamada de
            </label>
          </div>
          <div class="form-check form-check-inline ">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Usuario
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              NNA
            </label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="ShowOptionDos">
        <div class="col-6">
          <div class="d-flex justify-content-between mb-6">
            <label for="exampleFormControlInput1" class="form-label">Motivo de llamada</label>
          </div>
          <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" [class.d-sm-none]="!ShowOptionUno" id="pills-uno-tab" data-bs-toggle="pill"
            data-bs-target="#pills-uno" type="button" role="tab" aria-controls="pills-uno"
            aria-selected="true">Usuario</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [class.d-sm-none]="!ShowOptionDos" id="pills-dos-tab" data-bs-toggle="pill"
            data-bs-target="#pills-dos" type="button" role="tab" aria-controls="pills-dos" aria-selected="false">Datos
            de NNA</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [class.d-sm-none]="!ShowOptionTres" id="pills-tres-tab" data-bs-toggle="pill"
            data-bs-target="#pills-tres" type="button" role="tab" aria-controls="pills-tres"
            aria-selected="false">Detalle de la llamada</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [class.d-sm-none]="!ShowOptionCuatro" id="pills-cuatro-tab" data-bs-toggle="pill"
            data-bs-target="#pills-cuatro" type="button" role="tab" aria-controls="pills-cuatro"
            aria-selected="false">Derivación de la llamada</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-uno" role="tabpanel" aria-labelledby="pills-uno-tab">
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Nombre y Apellidos de usuario</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">DNI</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Fecha de nacimiento</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Vínculo con NNA</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Rango de edad</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="form-label">
                <label for="exampleFormControlInput1" class="form-label">Sexo</label>
              </div>
              <div class="form-check form-check-inline ">
                <input class="form-check-input" type="radio" name="flexRadioDefaultx" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Femenino
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefaultx" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Masculino
                </label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-label">
                <label for="exampleFormControlInput1" class="form-label">Anónimo*</label>
              </div>
              <div class="form-check form-check-inline ">
                <input class="form-check-input" type="radio" name="flexRadioDefaultxq" id="flexRadioDefaulta1">
                <label class="form-check-label" for="flexRadioDefaulta1">
                  Sí
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefaultxq" id="flexRadioDefaulta2" checked>
                <label class="form-check-label" for="flexRadioDefaulta2">
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Nacionalidad</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Seudónimo</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Migrante</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Dirección</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Departamento</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Distrito</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Provincia</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="padding-bottom: 50px;">
            <div class="col-6">
              <div class="position-relative m-4">
                <div class="progress" style="height: 1px;">
                  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="150"></div>
                </div>
                <button type="button"
                  class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">1</button>
                <button type="button"
                  class="position-absolute top-0 start-25 translate-middle btn btn-sm btn-secondary rounded-pill"
                  style="width: 2rem; height:2rem;">2</button>
                <button type="button"
                  class="position-absolute top-0 start-75 translate-middle btn btn-sm btn-secondary rounded-pill"
                  style="width: 2rem; height:2rem;">3</button>
                <button type="button"
                  class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
                  style="width: 2rem; height:2rem;">4</button>
              </div>
            </div>
            <div class="col-6">
              <div class="row g-2 justify-content-end">
                <div class="col-auto">
                  <button mat-stroked-button style="height: 50px;" (click)="PasoUnoAtras_clicked($event)">
                    <mat-icon color="primary">west</mat-icon>
                    Regresar
                  </button>
                </div>
                <div class="col-auto">
                  <button mat-raised-button color="primary" style="height: 50px;" (click)="PasoUno_clicked($event)">
                    Continuar
                    <mat-icon>east</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-dos" role="tabpanel" aria-labelledby="pills-dos-tab">
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Apellido Paterno</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Apellido Materno</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">DNI</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="form-label">
                <label for="exampleFormControlInput1" class="form-label">Sexo</label>
              </div>
              <div class="form-check form-check-inline ">
                <input class="form-check-input" type="radio" name="flexRadioDefaultx" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Femenino
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefaultx" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Masculino
                </label>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Fecha de Nacimiento</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Discapacidad</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Estudia</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Gerente</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Institución Educativa</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Adopción</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Presuntos Agresores</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Padre Migrante</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Dirección</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Madre Migrante</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Referencia</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="card">
                <div class="card-header">
                  Tipologías
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Violencia sexual en el ámbito sexual</li>
                  <li class="list-group-item">Explotación sexual NNA</li>
                  <li class="list-group-item">Violencia física en el ámbito familiar</li>
                  <li class="list-group-item">Violencia psicológica en el ámbito familiar</li>
                  <li class="list-group-item">Trabajo de NNA en la situación de calle o aquel que suponga una afectación
                    de derecho</li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div style="margin-bottom: 20px;">
                <div class="d-flex justify-content-between mb-6">
                  <label for="exampleFormControlInput1" class="form-label">Distrito</label>
                  <div>
                    <mat-icon color="primary">content_copy</mat-icon>
                    <mat-icon color="primary">delete</mat-icon>
                  </div>
                </div>
                <input type="email" class="form-control" id="exampleFormControlInput1">
              </div>
              <div style="margin-bottom: 20px;">
                <div class="d-flex justify-content-between mb-6">
                  <label for="exampleFormControlInput1" class="form-label">Departamento</label>
                  <div>
                    <mat-icon color="primary">content_copy</mat-icon>
                    <mat-icon color="primary">delete</mat-icon>
                  </div>
                </div>
                <input type="email" class="form-control" id="exampleFormControlInput1">
              </div>
              <div style="margin-bottom: 20px;">
                <div class="d-flex justify-content-between mb-6">
                  <label for="exampleFormControlInput1" class="form-label">Provincia</label>
                  <div>
                    <mat-icon color="primary">content_copy</mat-icon>
                    <mat-icon color="primary">delete</mat-icon>
                  </div>
                </div>
                <input type="email" class="form-control" id="exampleFormControlInput1">
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom: 50px;">
            <div class="col-6">
              <div class="position-relative m-4">
                <div class="progress" style="height: 1px;">
                  <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0"
                    aria-valuemax="150"></div>
                </div>
                <button type="button"
                  class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">1</button>
                <button type="button"
                  class="position-absolute top-0 start-25 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">2</button>
                <button type="button"
                  class="position-absolute top-0 start-75 translate-middle btn btn-sm btn-secondary rounded-pill"
                  style="width: 2rem; height:2rem;">3</button>
                <button type="button"
                  class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
                  style="width: 2rem; height:2rem;">4</button>
              </div>
            </div>
            <div class="col-6">
              <div class="row g-2 justify-content-end">
                <div class="col-auto">
                  <button mat-stroked-button style="height: 50px;" (click)="PasoDosAtras_clicked($event)">
                    <mat-icon color="primary">west</mat-icon>
                    Regresar
                  </button>
                </div>
                <div class="col-auto">
                  <button mat-raised-button color="primary" style="height: 50px;" (click)="PasoDos_clicked($event)">
                    Continuar
                    <mat-icon>east</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-tres" role="tabpanel" aria-labelledby="pills-tres-tab">
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="form-label">
                <label for="exampleFormControlInput1" class="form-label">Procedimiento Administrativo</label>
              </div>
              <div class="form-check form-check-inline ">
                <input class="form-check-input" type="radio" name="flexRadioDefaultx" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Si
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefaultx" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  No
                </label>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Procedencia de la llamada según UPE</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Resultado de la atención</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Requerimiento</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Relatos de los hechos</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Orientación</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Acciones Realizadas</label>
                <div>
                  <mat-icon color="primary">content_copy</mat-icon>
                  <mat-icon color="primary">delete</mat-icon>
                </div>
              </div>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="row" style="padding-bottom: 50px;">
            <div class="col-6">
              <div class="position-relative m-4">
                <div class="progress" style="height: 1px;">
                  <div class="progress-bar" role="progressbar" style="width: 66.6%;" aria-valuenow="66.6"
                    aria-valuemin="0" aria-valuemax="150"></div>
                </div>
                <button type="button"
                  class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">1</button>
                <button type="button"
                  class="position-absolute top-0 start-25 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">2</button>
                <button type="button"
                  class="position-absolute top-0 start-75 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">3</button>
                <button type="button"
                  class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
                  style="width: 2rem; height:2rem;">4</button>
              </div>
            </div>
            <div class="col-6">
              <div class="row g-2 justify-content-end">
                <div class="col-auto">
                  <button mat-stroked-button style="height: 50px;" (click)="PasoTresAtras_clicked($event)">
                    <mat-icon color="primary">west</mat-icon>
                    Regresar
                  </button>
                </div>
                <div class="col-auto">
                  <button mat-raised-button color="primary" style="height: 50px;" (click)="PasoTres_clicked($event)">
                    Continuar
                    <mat-icon>east</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-cuatro" role="tabpanel" aria-labelledby="pills-cuatro-tab">
          <app-step-four></app-step-four>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <div class="d-flex justify-content-between mb-6">
                <label for="exampleFormControlInput1" class="form-label">Estatus de la llamada</label>
              </div>
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccionar</option>
                <option value="1">Nuevo</option>
                <option value="2">Reiterativa</option>
                <option value="3">Seguimiento</option>
              </select>
            </div>
          </div>
          <div class="row" style="padding-bottom: 50px;">
            <div class="col-6">
              <div class="position-relative m-4">
                <div class="progress" style="height: 1px;">
                  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="150"></div>
                </div>
                <button type="button"
                  class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">1</button>
                <button type="button"
                  class="position-absolute top-0 start-25 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">2</button>
                <button type="button"
                  class="position-absolute top-0 start-75 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">3</button>
                <button type="button"
                  class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-primary rounded-pill"
                  style="width: 2rem; height:2rem;">4</button>
              </div>
            </div>
            <div class="col-6">
              <div class="row g-2 justify-content-end">
                <div class="col-auto">
                  <button mat-stroked-button style="height: 50px;" (click)="PasoCuatroAtras_clicked($event)">
                    <mat-icon color="primary">west</mat-icon>
                    Regresar
                  </button>
                </div>
                <div class="col-auto">
                  <button mat-raised-button color="primary" style="height: 50px; width: 120px;"
                    (click)="PasoCuatro_clicked($event)">
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" *ngIf="ShowOptionUno || ShowOptionDos" style="margin-bottom: 20px;">
        <svg class="bd-placeholder-img card-img-top" height="380" xmlns="http://www.w3.org/2000/svg" role="img"
          aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
            dy=".3em">Mapa</text>
        </svg>
      </div>

      <div class="card" *ngIf="ShowOptionDos">
        <div class="card-header">
          Total de Tipologías encontradas en NNA
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Violencia sexual en el ámbito sexual</li>
          <li class="list-group-item">Explotación sexual NNA</li>
          <li class="list-group-item">Violencia física en el ámbito familiar</li>
        </ul>
      </div>

      <div class="card border-0" *ngIf="ShowOptionTres">
        <img class="card-img-top" src="assets/Intersect.png" />
      </div>

      <div class="card border-0" *ngIf="ShowOptionCuatro">
        <img class="card-img-top" src="assets/Intersect_tuerca.png" />
      </div>

    </div>
  </div>



</div>
