.dashboard-container{
    padding-top: 64px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 182px;
}

.flex{
    display: flex;
}

.col-left{
    width: 70%;
}

.col-right{
    width: 30%;
}

.profile-info{
    background: #F8F8FA;
    border:1px solid #E8E8E8;
    border-radius: 8px;
    width: 100%;
    padding: 20px 20px 20px 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.state-circle{
    width: 24px;
    height: 24px;
}

.profile-img{
    position: relative;
}

.profile-photo{
    border-radius: 100px;
}

.state-circle{
    width: 24px;
    height: 24px;
    border-radius: 100px;
    position: absolute;
    bottom: 6px;
    left: 5px;
    border:1px solid #F8F8FA;
}

.profile-info .label p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    letter-spacing: -0.408px;
    color: #444444;
}

.cards-info{
    padding: 22px 0 46px 0;
    display: flex;
    flex-wrap: wrap;
}

.cards-info .profecionales-card, .cards-info .fichas-card{
    padding: 34px 26px;
    border-radius: 5px;
    min-width: 257px;
    box-shadow: 0px 1px 12px #EEEEEE, 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.cards-info .profecionales-card{
    margin-right: 39px;
}

.cards-info .title-card{
    display: flex;
}

.cards-info .title-card p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #000000;
    margin-left: 15px;
    margin-bottom: 0;
}

.cards-info .content-card p{
    font-style: normal;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #000000;
    margin-bottom: 0;
    margin-top: 25px;
}

.resultado{
    width: 40%;
}

.resultado .mat-form-field{
    width: 100%;
}

.resultOption{
    border:1px solid #EEEEEE;
}

.resultOption.mat-active{
    background: none;
}

.resultOption:hover{
    background: none;
}

::ng-deep .resultPanel {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.card-chart{
    background: #FFFFFF;
    box-shadow: 0px 1px 12px #EEEEEE, 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-chart .card-title{
    background: #F8F8FA;
    mix-blend-mode: normal;
    border-radius: 5px 5px 0px 0px;
    padding: 36px 20px 36px 46px;
    display: flex;
    justify-content: space-between;
}

::ng-deep .downloadBtn .mat-button-wrapper{
    display: flex;
    align-items: center;
}

.card-chart .card-title p{
    margin-bottom: 0;
}

.card-chart .card-title .title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.downloadBtn p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #444444;
    margin-left: 9px;
}

.card-content{
    min-height: 294px;
    height: 100%;
    padding: 2em;
    overflow-x: scroll;
}

::ng-deep .chartData .ngx-charts-outer{
    display: flex;
}

::ng-deep .textDataLabel{
    display: flex!important;
    justify-content: center!important;
    font-size: 11px!important;
    alignment-baseline: middle!important;
    text-anchor: middle!important;
    transform: initial!important;
    width: 100%!important;
}

::ng-deep .chart-legend .legend-labels{
    background: none!important;
    max-height: 100%!important;
}

::ng-deep .chart-legend .legend-label{
    font-style: normal!important;
    font-weight: 300!important;
    font-size: 16px!important;
    line-height: 19px!important;
    color: #444444!important;
    margin: 0!important;
    margin-bottom: 18px!important;
}

::ng-deep .chart-legend .legend-label:last-child{
    margin: 0!important;
}


::ng-deep .chart-legend{
    min-width: 20vw;
    margin-left: 3em;
} 

::ng-deep .chart-legend>div:first-child{
    width: 100%!important;
}