<div class="flex dashboard-container">
  <div class="col-left">
    <section class="profile-info">
      <div class="info">
        <div class="profile-img">
          <img class="profile-photo" src="../../../../assets/usuario-bg.png" alt="foto-usuario">
          <div class="state-circle" [style.background-color]="stateColor"></div>
        </div>
      </div>
      <div class="label">
        <p>Dashboard</p>
      </div>
    </section>
    <section class="cards-info">
      <mat-card class="profecionales-card">
        <div class="title-card">
          <img src="../../../../assets/profesionales-icon.svg" alt="">
          <p>Total de profesionales </p>
        </div>
        <div class="content-card">
          <p>5</p>
        </div>
      </mat-card>
      <mat-card class="fichas-card">
        <div class="title-card">
          <img src="../../../../assets/fichas-icon.svg" alt="">
          <p>Total de fichas </p>
        </div>
        <div class="content-card">
          <p>1000</p>
        </div>
      </mat-card>
    </section>
    <section class="resultado">
      <mat-form-field appearance="outline">
        <mat-label>Resultado</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="result" panelClass="resultPanel">
          <mat-option *ngFor="let result of resultList" class="resultOption" [value]="result.id">
            {{result.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="card-chart">
      <div class="card-title">
        <p class="title">NNA Rango de edad</p>
        <button mat-button class="downloadBtn">
          <img src="../../../../assets/export-icon.svg" alt="">
          <p>Exportar PDF</p>
        </button>
      </div>
      <div class="card-content" #chartCard>
        <ngx-charts-bar-vertical (window:resize)="onResize($event)" class="chartData" [view]="view"
          [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
          [legend]="showLegend" [legendTitle]="legendTitle" [showDataLabel]="showDataLabel"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [barPadding]="barPadding" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </section>
  </div>
  <div class="col-right">
    <mat-calendar [selected]="range" [comparisonStart]="range.start" [comparisonStart]="range.end"
      (selectedChange)="onChange($event)"></mat-calendar>
  </div>
</div>
