
<section *ngIf="(user.perfil!=profileAdminStr)"> class="pt-5 pb-5">
  <div class="container">
    <div class="row d-flex">

      <div class="col-sm-6 col-md-4 d-flex">
        <div class="card card-body shadow-lg">
          <div style="min-height: 300px;">
            <img class="card-img-top" src="assets/home-gestion-ficha.png" alt="Card image cap">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div><h1>Gestión de Fichas</h1></div>
            <div>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4  d-flex ">
        <div class="card card-body shadow-lg">
          <div style="min-height: 300px;">
            <img class="card-img-top" src="assets/home-consultar-ficha.png" alt="Card image cap">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div><h1>Consultar Fichas</h1></div>
            <div>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4  d-flex ">
        <div class="card card-body shadow-lg">
          <div style="min-height: 300px;">
          <img class="card-img-top" src="assets/home-resultados.png" alt="Card image cap">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div><h1>Resultados</h1></div>
            <div>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>

<section *ngIf="(user.perfil==profileAdminStr)"> class="pt-5 pb-5">
  <div class="container">
    <div class="row d-flex">

      <div class="col-sm-5 col-md-3 d-flex">
        <div class="card card-body shadow-lg">
          <div style="min-height: 230px;">
            <img class="card-img-top" src="assets/home-gestion-ficha.png" alt="Card image cap">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div><h2>Gestión de Fichas</h2></div>
            <div>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-md-3  d-flex ">
        <div class="card card-body shadow-lg">
          <div style="min-height: 230px;">
            <img class="card-img-top" src="assets/home-consultar-ficha.png" alt="Card image cap">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div><h2>Consultar Fichas</h2></div>
            <div>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-md-3  d-flex ">
        <div class="card card-body shadow-lg">
          <div style="min-height: 230px;">
            <img class="card-img-top" src="assets/home-resultados.png" alt="Card image cap">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div><h2>Resultados</h2></div>
            <div>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-md-3 d-flex ">
        <div class="card card-body shadow-lg">
          <div style="min-height: 230px;">
            <img class="card-img-top" src="assets/home-adm-perfil.png" alt="Card image cap">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div><h2>Administrar Perfiles</h2></div>
            <div>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</section>



