.component-step{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.info-user{
    display: flex;
    justify-content: space-between;
    background: #F8F8FA;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    padding: 19px 32px;
    margin-top: 42px;
}

.info-user p{
    display: flex;
    align-items: center;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.number-file{
    display: flex;
    align-items: center;
}

.number-file p{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.number-file mat-icon{
    margin-right: 14px;
    color: #00AEEF;
}

.derivacion{
    margin-top: 35px;
}

::ng-deep .mat-tab-label{
    opacity: 1!important;
    background: #E8E8E8;
    mix-blend-mode: normal;
    border-radius: 8px 8px 0px 0px;
    color: #444444;
  }
  
  ::ng-deep .mat-tab-label.mat-tab-label-active{
    background-color: #00AEEF;
    color: #fff;
  }
  
  ::ng-deep .mat-ink-bar{
    display: none;
  }

  .blue-icon{
      color: #00AEEF;
  }

  .derivacion-card {
    padding: 0;
    width: 47%;
    margin-bottom: 32px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 5px rgb(164 164 164 / 40%)!important;
    -webkit-box-shadow: 0px 0px 12px 5px rgb(164 164 164 / 40%)!important;
    -moz-box-shadow: 0px 0px 12px 5px rgba(164,164,164,0.4)!important;
}

::ng-deep .mat-tab-body-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 15px;
}

.full-width {
    width: 100%;
}

::ng-deep .derivacion-card .mat-card-header {
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
    background: #F8F8FA;
}

::ng-deep .derivacion-card .mat-card-header-text {
    margin: 0;
}

::ng-deep .derivacion-card .mat-card-title {
    margin: 0!important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

::ng-deep .derivacion-card .mat-list-item-content {
    justify-content: space-between;
}

::ng-deep .derivacion-card .mat-checkbox-inner-container {
    margin-right: 15px;
}

::ng-deep .derivacion-card .mat-list {
    padding: 0;
}

::ng-deep .derivacion-card .mat-card-content {
    padding-bottom: 32px;
}

::ng-deep .derivacion-card .mat-list-item-content {
    border-bottom: 1px solid #E8E8E8;
    padding: 0!important;
    margin: 0 17px;
}

::ng-deep .derivacion-card.full-width .mat-list-item {
    width: 47%;
}

::ng-deep .derivacion-card.full-width .mat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #00AEEF !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: #00AEEF !important;
}