<div class="component-step">
  <mat-card class="derivacion-card">
    <mat-card-header>
      <mat-card-title *ngIf="!newItemDerivacion">Derevación a equipo de atención urgente</mat-card-title>
      <mat-form-field *ngIf="newItemDerivacion">
        <input matInput type="text" [(ngModel)]="newDerivacion">
      </mat-form-field>
      <button mat-icon-button class="blue-icon" *ngIf="!newItemDerivacion" (click)="eventNew('Derivacion')">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button class="blue-icon" *ngIf="newItemDerivacion"
        (click)="newElement(derivacionList, newDerivacion, 'Derivacion')">
        <mat-icon>{{newDerivacion == "" ? 'close' : 'check'}}</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of derivacionList">
          <section class="example-section" *ngIf="item.active == false">
            <mat-checkbox class="item-checkbox" [(ngModel)]="item.checked" (change)="selectItem(item)">{{item.name}}
            </mat-checkbox>
          </section>
          <mat-form-field *ngIf="item.active == true">
            <input matInput [(ngModel)]="item.value">
          </mat-form-field>
          <button mat-icon-button (click)="openEdit(derivacionList, item)" *ngIf="item.active == false">
            <mat-icon class="blue-icon">edit</mat-icon>
          </button>
          <button mat-icon-button class="blue-icon" *ngIf="item.active == true"
            (click)="editElement(derivacionList, item)">
            <mat-icon>{{item.value == "" ? 'close' : 'check'}}</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="derivacion-card">
    <mat-card-header>
      <mat-card-title *ngIf="!newItemOrientacion">Orientación UPE</mat-card-title>
      <mat-form-field *ngIf="newItemOrientacion">
        <input matInput type="text" [(ngModel)]="newOrientacion">
      </mat-form-field>
      <button mat-icon-button class="blue-icon" *ngIf="!newItemOrientacion" (click)="eventNew('Orientacion')">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button class="blue-icon" *ngIf="newItemOrientacion"
        (click)="newElement(orientacionList, newOrientacion, 'Orientacion')">
        <mat-icon>{{newOrientacion == "" ? 'close' : 'check'}}</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of orientacionList">
          <section class="example-section" *ngIf="item.active == false">
            <mat-checkbox class="item-checkbox" [(ngModel)]="item.checked" (change)="selectItem(item)">{{item.name}}
            </mat-checkbox>
          </section>
          <mat-form-field *ngIf="item.active == true">
            <input matInput [(ngModel)]="item.value">
          </mat-form-field>
          <button mat-icon-button (click)="openEdit(derivacionList, item)" *ngIf="item.active == false">
            <mat-icon class="blue-icon">edit</mat-icon>
          </button>
          <button mat-icon-button class="blue-icon" *ngIf="item.active == true"
            (click)="editElement(derivacionList, item)">
            <mat-icon>{{item.value == "" ? 'close' : 'check'}}</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="derivacion-card">
    <mat-card-header>
      <mat-card-title *ngIf="!newItemCoordinacionUPE">Coordinación con UPE</mat-card-title>
      <mat-form-field *ngIf="newItemCoordinacionUPE">
        <input matInput type="text" [(ngModel)]="newCoordinacionUPE">
      </mat-form-field>
      <button mat-icon-button class="blue-icon" *ngIf="!newItemCoordinacionUPE" (click)="eventNew('CoordinacionUPE')">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button class="blue-icon" *ngIf="newItemCoordinacionUPE"
        (click)="newElement(coordinacionUPEList, newCoordinacionUPE, 'CoordinacionUPE')">
        <mat-icon>{{newCoordinacionUPE == "" ? 'close' : 'check'}}</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of coordinacionUPEList">
          <section class="example-section" *ngIf="item.active == false">
            <mat-checkbox class="item-checkbox" [(ngModel)]="item.checked" (change)="selectItem(item)">{{item.name}}
            </mat-checkbox>
          </section>
          <mat-form-field *ngIf="item.active == true">
            <input matInput [(ngModel)]="item.value">
          </mat-form-field>
          <button mat-icon-button (click)="openEdit(derivacionList, item)" *ngIf="item.active == false">
            <mat-icon class="blue-icon">edit</mat-icon>
          </button>
          <button mat-icon-button class="blue-icon" *ngIf="item.active == true"
            (click)="editElement(derivacionList, item)">
            <mat-icon>{{item.value == "" ? 'close' : 'check'}}</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="derivacion-card">
    <mat-card-header>
      <mat-card-title *ngIf="!newItemCoordinacionDPE">Coordinación e información a DPE</mat-card-title>
      <mat-form-field *ngIf="newItemCoordinacionDPE">
        <input matInput type="text" [(ngModel)]="newCoordinacionDPE">
      </mat-form-field>
      <button mat-icon-button class="blue-icon" *ngIf="!newItemCoordinacionDPE" (click)="eventNew('CoordinacionDPE')">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button class="blue-icon" *ngIf="newItemCoordinacionDPE"
        (click)="newElement(coordinacionDPEList, newCoordinacionDPE, 'CoordinacionDPE')">
        <mat-icon>{{newCoordinacionDPE == "" ? 'close' : 'check'}}</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of coordinacionDPEList">
          <section class="example-section" *ngIf="item.active == false">
            <mat-checkbox class="item-checkbox" [(ngModel)]="item.checked" (change)="selectItem(item)">{{item.name}}
            </mat-checkbox>
          </section>
          <mat-form-field *ngIf="item.active == true">
            <input matInput [(ngModel)]="item.value">
          </mat-form-field>
          <button mat-icon-button (click)="openEdit(derivacionList, item)" *ngIf="item.active == false">
            <mat-icon class="blue-icon">edit</mat-icon>
          </button>
          <button mat-icon-button class="blue-icon" *ngIf="item.active == true"
            (click)="editElement(derivacionList, item)">
            <mat-icon>{{item.value == "" ? 'close' : 'check'}}</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="derivacion-card full-width">
    <mat-card-header>
      <mat-card-title *ngIf="!newItemRedes">Redes de apoyo proporcionadas (Orientación o articulación)
      </mat-card-title>
      <mat-form-field class="full-width" *ngIf="newItemRedes">
        <input matInput type="text" [(ngModel)]="newRedes">
      </mat-form-field>
      <button mat-icon-button class="blue-icon" *ngIf="!newItemRedes" (click)="eventNew('Redes')">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button class="blue-icon" *ngIf="newItemRedes"
        (click)="newElement(redesApoyoList, newRedes, 'Redes')">
        <mat-icon>{{newRedes == "" ? 'close' : 'check'}}</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of redesApoyoList">
          <section class="example-section" *ngIf="item.active == false">
            <mat-checkbox class="item-checkbox" [(ngModel)]="item.checked" (change)="selectItem(item)">{{item.name}}
            </mat-checkbox>
          </section>
          <mat-form-field *ngIf="item.active == true">
            <input matInput [(ngModel)]="item.value">
          </mat-form-field>
          <button mat-icon-button (click)="openEdit(derivacionList, item)" *ngIf="item.active == false">
            <mat-icon class="blue-icon">edit</mat-icon>
          </button>
          <button mat-icon-button class="blue-icon" *ngIf="item.active == true"
            (click)="editElement(derivacionList, item)">
            <mat-icon>{{item.value == "" ? 'close' : 'check'}}</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
