/* width */
::ng-deep ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::ng-deep ::-webkit-scrollbar-track {
    box-shadow: none; 
    border-radius: 0;
    border: none;
  }
   
  /* Handle */
  ::ng-deep ::-webkit-scrollbar-thumb {
    background: #C4C4C4; 
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::ng-deep ::-webkit-scrollbar-thumb:hover {
    background: none; 
  }