<p>profile-new works!</p>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h1>Nuevo Perfil</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-md-3">
        <ngx-avatar name="k" size="150" fgColor="#FFFFFF">
        </ngx-avatar>
      </div>
      <div class="col-5 col-md-5">
        <form>
          <div class="row mb-4 col-md-11">
              <div class="col-9">
                <label class="form-label">Nombres y Apellidos</label>
              </div>
              <div class="col-3">
                  <mat-icon color="primary" (click)="save_clicked($event)">content_copy</mat-icon>
                  <mat-icon color="primary" (click)="save_clicked($event)">delete</mat-icon>
              </div>
              <div class="col-12">
                <input type="password" class="form-control" />
              </div>
            </div>
          <div class="row mb-4 col-md-11">
            <div class="col-9">
              <label class="form-label">Perfil</label>
            </div>
            <div class="col-3">
              <mat-icon color="primary" (click)="save_clicked($event)">content_copy</mat-icon>
              <mat-icon color="primary" (click)="save_clicked($event)">delete</mat-icon>
            </div>
            <div class="col-12">
              <input type="password" class="form-control" />
            </div>
          </div>
          <div class="row mb-4 col-md-11">
            <div class="col-9">
              <label class="form-label">Usuario</label>
            </div>
            <div class="col-3">
              <mat-icon color="primary" (click)="save_clicked($event)">content_copy</mat-icon>
              <mat-icon color="primary" (click)="save_clicked($event)">delete</mat-icon>
            </div>
            <div class="col-12">
              <input type="password" class="form-control" />
            </div>
          </div>
          <div class="row mb-4 col-md-11">
            <div class="col-9">
              <label class="form-label">Contraseña</label>
            </div>
            <div class="col-3">
              <mat-icon color="primary" (click)="save_clicked($event)">content_copy</mat-icon>
              <mat-icon color="primary" (click)="save_clicked($event)">delete</mat-icon>
            </div>
            <div class="col-12">
              <input type="password" class="form-control" />
            </div>
          </div>
          <div class="row mb-4 col-md-11 text-lg-center">
            <div class="col">
              <button mat-stroked-button style="height: 50px;" (click)="save_clicked($event)">
                Guardar
              </button>
            </div>
            <div class="col">
              <button mat-stroked-button style="height: 50px;" (click)="cancel_clicked($event)">
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-3 col-md-3">
        <div class="card border-0 shadow-lg" style="width: 18rem;">
          <div class="card-header">
            <span class="fs-5">
              Permisos para ver
            </span>
          </div>

          <div class="list-group list-group-flush">
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">

              Gestión de fichas
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Consultar fichas
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Mis resultados
            </label>
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="">
              Administrar perfiles
            </label>
          </div>

        </div>


      </div>
    </div>
</div>
