
<p>profile-adm works!</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-10">
    </div>
    <div class="col-2">
      <button mat-stroked-button (click)="new_clicked($event)">
        <mat-icon color="primary">add_circle</mat-icon>
        Agregar Nueva Cuenta
      </button>
    </div>
  </div>
</div>


<h1 class="text-lg-center">Administrar Cuentas</h1>
<div class="row">

  <div class="col-sm-3">
    <div class="card border-0 align-items-center">
      <div class="button-container">
        <ngx-avatar src="assets/usuario-bg.png?raw=true" size="160" fgColor="#FFFFFF">
        </ngx-avatar>
        <button mat-mini-fab color="primary" (click)="edit_clicked($event)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <div class="card-body" style="display: inline-block;">
        <h5 class="card-title">Carmen Pizarro Negrón</h5>
      </div>

    </div>
  </div>

  <div class="col-sm-3">
    <div class="card border-0 align-items-center">
      <div class="button-container">
        <ngx-avatar name="D" size="160" fgColor="#FFFFFF">
        </ngx-avatar>
        <button mat-mini-fab color="primary" (click)="edit_clicked($event)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="card-body" style="display: inline-block;">
        <h5 class="card-title">David Pazo Pazo</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card border-0 align-items-center">
      <div class="button-container">
        <ngx-avatar name="N" size="160" fgColor="#FFFFFF">
        </ngx-avatar>
        <button mat-mini-fab color="primary" (click)="edit_clicked($event)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="card-body" style="display: inline-block;">
        <h5 class="card-title">Nely Pizarro Negrón</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card border-0 align-items-center">
      <div class="button-container">
        <ngx-avatar name="K" size="160" fgColor="#FFFFFF">
        </ngx-avatar>
        <button mat-mini-fab color="primary" (click)="edit_clicked($event)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="card-body" style="display: inline-block;">
        <h5 class="card-title">Karen Delia Picasso</h5>
      </div>
    </div>
  </div>
</div>

<p></p>
<div class="row text-lg-center">
  <div class="align-self-center">
    <a routerLink="../homefull" class="btn btn-primary">Listo</a>
  </div>
</div>
