
.circulo{
  border-radius: 50%;
}

.button-container{
  display: inline-block;
  height: 180px;
}

.button-container button{
  position: relative;
  bottom:50px;
  right:-60px;
}
/*
ngx-avatar {
  display:inline-block;
}
*/


