<p>profile-edit works!</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h1>Editar Perfil</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

      <div class="card border-0" style="width: 18rem;">
        <div class="card-body">
          <div class="mb-4">
            <ngx-avatar name="k" size="150" fgColor="#FFFFFF">
            </ngx-avatar>
          </div>

          <div class="form-outline mb-4">
            <input type="email" *ngIf="false" class="form-control" />
            <label class="form-label">carmen Pizarro Negron</label>
            <button mat-button>
              <mat-icon color="primary">edit</mat-icon>
            </button>
          </div>

          <div class="form-outline mb-4">
            <input type="email" *ngIf="false" class="form-control" />
            <label class="form-label">Agente</label>
            <mat-icon color="primary">edit</mat-icon>
          </div>

          <div class="form-outline mb-4">
            <input type="email" *ngIf="false" class="form-control" />
            <label class="form-label">carmen456@gmail.com</label>
            <mat-icon color="primary">edit</mat-icon>
          </div>

          <div class="form-outline mb-4">
            <input type="email" *ngIf="false" class="form-control" />
            <label class="form-label">Carmen2020@</label>
            <mat-icon color="primary">edit</mat-icon>
          </div>

        </div>
      </div>


    </div>
    <div class="col-md-8">
      <div class="card border-0 shadow-lg" style="width: 22rem;">
        <div class="card-header p-3">
            <span class="fs-5">
              Permisos para ver
            </span>
        </div>
        <div class="list-group list-group-flush">
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Gestión de fichas
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Consultar fichas
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Mis resultados
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Administrar perfiles
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-4"></div>
      <div class="col-1">
        <button mat-stroked-button style="height: 50px;" (click)="save_clicked($event)">
          Guardar
        </button>
      </div>
      <div class="col-2">
        <button mat-stroked-button style="height: 50px;" (click)="cancel_clicked($event)">
          Eliminar Cuenta
        </button>
      </div>
      <div class="col-1">
        <button mat-stroked-button style="height: 50px;" (click)="cancel_clicked($event)">
          Cancelar
        </button>
      </div>
      <div class="col-4"></div>
  </div>

</div>
