  <div class="gestion-fichas">
    <div class="filters">
      <mat-form-field appearance="outline">
        <mat-label>Status de llamada</mat-label>
        <input matInput class="form-field" [formControl]="statusFilter">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nº de ficha</mat-label>
        <input matInput class="form-field" [formControl]="numeroFichaFilter">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombres y Apellidos</mat-label>
        <input matInput class="form-field" [formControl]="nombreApellidoFilter">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de creación</mat-label>
        <input matInput [matDatepicker]="fechaCr" [formControl]="fechaCreacionFilter">
        <mat-datepicker-toggle matSuffix [for]="fechaCr"></mat-datepicker-toggle>
        <mat-datepicker #fechaCr></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de edición</mat-label>
        <input matInput [matDatepicker]="fechaEd" [formControl]="fechaEdicionFilter">
        <mat-datepicker-toggle matSuffix [for]="fechaEd"></mat-datepicker-toggle>
        <mat-datepicker #fechaEd></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput class="form-field" [formControl]="celularFilter">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tipología</mat-label>
        <input matInput class="form-field" [formControl]="tipologiaFilter">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Asignación</mat-label>
        <input type="text" matInput [formControl]="asignacionFilter" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" class="asignPanel" classList="asignPanel">
          <mat-option *ngFor="let option of filteredOptions | async" (click)="filterChange(option.iniciales)"
            [value]="option.asignacion">
            <div class="imagen-perfil">
              {{option.iniciales}}
            </div>
            <p>{{option.asignacion}}</p>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-flat-button class="clean" (click)="clean()">Limpiar</button>
    </div>
    <mat-tab-group mat-align-tabs="end">
      <mat-tab label="En progreso">
        <div class="fichas-table">
          <table mat-table [dataSource]="dataSourceFichas" matSort>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status de llamada </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>
            <ng-container matColumnDef="numeroFicha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº de ficha </th>
              <td mat-cell *matCellDef="let row" [matMenuTriggerFor]="menu" class="pointer">
                <div class="fichaSatus">
                  <mat-icon class="drop-icon">keyboard_arrow_down</mat-icon>
                  <p>Nº de ficha {{row.numeroFicha}}</p>
                </div>
                <mat-menu class="statusMenu" #menu="matMenu">
                  <button mat-menu-item *ngFor="let status of statusItems">
                    <div class="circle" [style]="{'background-color': status.color}"></div>
                    <p>{{status.name}}</p>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="nombreApellido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y Apellidos </th>
              <td mat-cell *matCellDef="let row"> {{row.nombreApellido}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaCreacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
              <td mat-cell *matCellDef="let row">
                Fecha: {{row.fechaCreacion}}
              </td>
            </ng-container>

            <ng-container matColumnDef="fechaEdicion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de edición </th>
              <td mat-cell *matCellDef="let row"> Fecha: {{row.fechaEdicion}} </td>
            </ng-container>

            <ng-container matColumnDef="celular">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
              <td mat-cell *matCellDef="let row"> {{row.celular}} </td>
            </ng-container>

            <ng-container matColumnDef="tipologia">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipología </th>
              <td mat-cell *matCellDef="let row"> {{row.tipologia}} </td>
            </ng-container>

            <ng-container matColumnDef="asignacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignación </th>
              <td mat-cell *matCellDef="let row">
                <div class="imagen-perfil">
                  {{row.iniciales}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menuOpciones" aria-label="Example icon-button with a menu">
                  <mat-icon class="drop-icon">more_vert</mat-icon>
                </button>
                <mat-menu #menuOpciones="matMenu">
                  <button mat-menu-item>Editar</button>
                  <button mat-menu-item>Exportar</button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell-empty" colspan="8">No se ha encontrado informacion similar</td>
            </tr>
          </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-tab>
      <mat-tab label="Abierto">
        <div class="fichas-table">
          <table mat-table [dataSource]="dataSourceFichas" matSort>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status de llamada </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>
            <ng-container matColumnDef="numeroFicha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº de ficha </th>
              <td mat-cell *matCellDef="let row" [matMenuTriggerFor]="menu" class="pointer">
                <div class="fichaSatus">
                  <mat-icon class="drop-icon">keyboard_arrow_down</mat-icon>
                  <p>Nº de ficha {{row.numeroFicha}}</p>
                </div>
                <mat-menu class="statusMenu" #menu="matMenu">
                  <button mat-menu-item *ngFor="let status of statusItems">
                    <div class="circle" [style]="{'background-color': status.color}"></div>
                    <p>{{status.name}}</p>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="nombreApellido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y Apellidos </th>
              <td mat-cell *matCellDef="let row"> {{row.nombreApellido}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaCreacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
              <td mat-cell *matCellDef="let row">
                Fecha: {{row.fechaCreacion}}
              </td>
            </ng-container>

            <ng-container matColumnDef="fechaEdicion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de edición </th>
              <td mat-cell *matCellDef="let row"> Fecha: {{row.fechaEdicion}} </td>
            </ng-container>

            <ng-container matColumnDef="celular">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
              <td mat-cell *matCellDef="let row"> {{row.celular}} </td>
            </ng-container>

            <ng-container matColumnDef="tipologia">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipología </th>
              <td mat-cell *matCellDef="let row"> {{row.tipologia}} </td>
            </ng-container>

            <ng-container matColumnDef="asignacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignación </th>
              <td mat-cell *matCellDef="let row">
                <div class="imagen-perfil">
                  {{row.iniciales}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menuOpciones" aria-label="Example icon-button with a menu">
                  <mat-icon class="drop-icon">more_vert</mat-icon>
                </button>
                <mat-menu #menuOpciones="matMenu">
                  <button mat-menu-item>Editar</button>
                  <button mat-menu-item>Exportar</button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell-empty" colspan="8">No se ha encontrado informacion similar</td>
            </tr>
          </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-tab>
      <mat-tab label="En revisión">
        <div class="fichas-table">
          <table mat-table [dataSource]="dataSourceFichas" matSort>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status de llamada </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>
            <ng-container matColumnDef="numeroFicha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº de ficha </th>
              <td mat-cell *matCellDef="let row" [matMenuTriggerFor]="menu" class="pointer">
                <div class="fichaSatus">
                  <mat-icon class="drop-icon">keyboard_arrow_down</mat-icon>
                  <p>Nº de ficha {{row.numeroFicha}}</p>
                </div>
                <mat-menu class="statusMenu" #menu="matMenu">
                  <button mat-menu-item *ngFor="let status of statusItems">
                    <div class="circle" [style]="{'background-color': status.color}"></div>
                    <p>{{status.name}}</p>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="nombreApellido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y Apellidos </th>
              <td mat-cell *matCellDef="let row"> {{row.nombreApellido}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaCreacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
              <td mat-cell *matCellDef="let row">
                Fecha: {{row.fechaCreacion}}
              </td>
            </ng-container>

            <ng-container matColumnDef="fechaEdicion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de edición </th>
              <td mat-cell *matCellDef="let row"> Fecha: {{row.fechaEdicion}} </td>
            </ng-container>

            <ng-container matColumnDef="celular">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
              <td mat-cell *matCellDef="let row"> {{row.celular}} </td>
            </ng-container>

            <ng-container matColumnDef="tipologia">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipología </th>
              <td mat-cell *matCellDef="let row"> {{row.tipologia}} </td>
            </ng-container>

            <ng-container matColumnDef="asignacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignación </th>
              <td mat-cell *matCellDef="let row">
                <div class="imagen-perfil">
                  {{row.iniciales}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menuOpciones" aria-label="Example icon-button with a menu">
                  <mat-icon class="drop-icon">more_vert</mat-icon>
                </button>
                <mat-menu #menuOpciones="matMenu">
                  <button mat-menu-item>Editar</button>
                  <button mat-menu-item>Exportar</button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell-empty" colspan="8">No se ha encontrado informacion similar</td>
            </tr>
          </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-tab>
      <mat-tab label="Cerrado">
        <div class="fichas-table">
          <table mat-table [dataSource]="dataSourceFichas" matSort>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status de llamada </th>
              <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>
            <ng-container matColumnDef="numeroFicha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº de ficha </th>
              <td mat-cell *matCellDef="let row" [matMenuTriggerFor]="menu" class="pointer">
                <div class="fichaSatus">
                  <mat-icon class="drop-icon">keyboard_arrow_down</mat-icon>
                  <p>Nº de ficha {{row.numeroFicha}}</p>
                </div>
                <mat-menu class="statusMenu" #menu="matMenu">
                  <button mat-menu-item *ngFor="let status of statusItems">
                    <div class="circle" [style]="{'background-color': status.color}"></div>
                    <p>{{status.name}}</p>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="nombreApellido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y Apellidos </th>
              <td mat-cell *matCellDef="let row"> {{row.nombreApellido}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaCreacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
              <td mat-cell *matCellDef="let row">
                Fecha: {{row.fechaCreacion}}
              </td>
            </ng-container>

            <ng-container matColumnDef="fechaEdicion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de edición </th>
              <td mat-cell *matCellDef="let row"> Fecha: {{row.fechaEdicion}} </td>
            </ng-container>

            <ng-container matColumnDef="celular">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
              <td mat-cell *matCellDef="let row"> {{row.celular}} </td>
            </ng-container>

            <ng-container matColumnDef="tipologia">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipología </th>
              <td mat-cell *matCellDef="let row"> {{row.tipologia}} </td>
            </ng-container>

            <ng-container matColumnDef="asignacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignación </th>
              <td mat-cell *matCellDef="let row">
                <div class="imagen-perfil">
                  {{row.iniciales}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menuOpciones" aria-label="Example icon-button with a menu">
                  <mat-icon class="drop-icon">more_vert</mat-icon>
                </button>
                <mat-menu #menuOpciones="matMenu">
                  <button mat-menu-item>Editar</button>
                  <button mat-menu-item>Exportar</button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell-empty" colspan="8">No se ha encontrado informacion similar</td>
            </tr>
          </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </div>


  <!-- Copyright 2021 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
