.fichas-table{
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
}

table {
  width: 100vw;
}

.gestion-fichas{
  padding: 0 40px;
}

.filters{
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
}

.mat-form-field{
  margin-right: 20px;
}

.mat-cell-empty{
  text-align: center;
}

::ng-deep .statusMenu button{
  display: flex;
  align-items: center;
}

::ng-deep .statusMenu .circle{
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-right: 1em;
}

::ng-deep .statusMenu p{
  margin: 0;
}

.drop-icon{
  color: #00AEEF;
  margin-right: .5em;
}

.fichaSatus{
  display: flex;
  align-items: center;
}

.fichaSatus p{
  margin: 0;
}


.pointer{
  cursor: pointer;
}

.imagen-perfil{
  height: 38px;
  width: 38px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #00AEEF;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(232, 232, 232, 0.5);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 10px;
  box-shadow: none;
}

::ng-deep .asignPanel .mat-option-text{
  display: flex;
  align-items: center;
}

::ng-deep .asignPanel .mat-option-text .imagen-perfil{
  margin: 0;
}

::ng-deep .asignPanel .mat-option-text p{
  padding-left: 1em;
  font-size: .9rem;
  margin: 0;
}

.clean{
  color: #fff;
  background: #58afef;
  height: 50px;
  margin-top: 4px;
}

::ng-deep .mat-tab-label{
  margin: 0 1em;
  opacity: 1!important;
  background: #E8E8E8;
  mix-blend-mode: normal;
  border-radius: 8px 8px 0px 0px;
  color: #444444;
}

::ng-deep .mat-tab-label.mat-tab-label-active{
  background-color: #1B3593;
  color: #fff;
}

::ng-deep .mat-ink-bar{
  display: none;
}