
.contact-unicef{
  position: relative;
  width: 683px;
  height: 900px;
}
.logo-unicef{
  left: 70px;
  top: 10px;
  position: absolute;
}

.textos-medios{
  text-align: center;
  top: 120px;
  left: 300px;
  position: relative;
}

.titulo-login{
  font-family: Roboto;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  color: #00AEEF;
  align-items: center;
  text-align: center;
}

.sub-titulo-login{
  font-family: Roboto;
  font-style: normal;
  font-size: 22px;
  color: #00AEEF;
}

.logo-fondo-login{
  position: absolute;
  top: 40px;
  left: 90px;
}

.colaboracion-vass{
  text-align: center;
  position: absolute;
  top: 660px;
  left: 280px;
}

.texto-colaboracion-vass{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.login-unicef{
  position: relative;
  width: 400px;
  left: 10px;
  top: 100px;
  float: right;
  text-align: center;
}

.textbox-unicef{
  width: 100%;
  padding: .375rem .75rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.textbox-unicef:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.label-unicef{
  margin-bottom: .5rem;
  display: inline-block;
}


.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('src/assets/login-unicef.png');
  background-color: #00AEEF;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
