<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex">
      <div class="logo-fondo-login">
        <img src="assets/call-center.jpg" />
      </div>
      <div class="textos-medios">
        <div class="titulo-login">
          Unicef
        </div>
        <div class="sub-titulo-login">
          fichas
        </div>
      </div>
      <div class="colaboracion-vass">
        <img src="assets/vass-logo.png" />
      </div>
      <div class="logo-unicef">
        <img src="assets/LogoUNICEFx.png" />
      </div>
    </div>

    <div class="col-md-6 bg-white">
      <div class="login d-flex align-items-center py-5">

        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <p class="text-muted mb-4">Hola, bienvenido(a)</p>
              <h2 class="display-4">Ingresa a tu cuenta</h2>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                  <label class="form-check-label mb-3">Usuario</label>
                  <input id="inputEmail"  [class.is-invalid]="loginForm.get('usuario').touched && loginForm.get('usuario').invalid"
                         type="text" placeholder="Ingrese Usuario" autofocus="" class="form-control" formControlName="usuario">
                </div>
                <div class="form-group mb-3">
                  <label class="form-check-label mb-3">Contraseña</label>
                  <input id="inputPassword" [class.is-invalid]="loginForm.get('contrasenia').touched && loginForm.get('contrasenia').invalid"
                         type="password" placeholder="Ingrese Contraseña" required="" class="form-control" formControlName="contrasenia">
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input id="customCheck1" type="checkbox" checked class="custom-control-input  ">
                  <label for="customCheck1" class="custom-control-label">Recordarme</label>
                  <a href="#" class="font-italic" routerLink="../recovery" routerLinkActive="active"
                     [routerLinkActiveOptions]="{exact: true}">
                    Olvidaste tu contraseña?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-2">Ingresar</button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
